<!DOCTYPE html>
<html lang="en">
  <head>
    {%- if not is_production %}
      <script type="module" src="{{ asset('@vite/client') }}"></script>
    {%- endif %}
    {%- if is_production %}
      <link rel="stylesheet" href="{{ asset('build.css') }}" />
    {%- else %}
      <link rel="stylesheet" href="{{ asset('styles.css') }}" />
    {%- endif %}

    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Address analyzing tool</title>
  </head>
  <body>
    <nav class="py-4 w-full bg-gray-400">
    </nav>
    {% block content %}
    {% endblock %}
    <script type="module" src="{{ asset('script.js') }}"></script>
  </body>
</html>
